/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*ATTN: AMANDA JEROME REMEMBER TO RESIZE IMAGES FOR HOMEPAGE*/

.header2 {
	text-align: center;
	max-width: 100%;
	background-size: 100%;
	margin: 0px auto;
	background-color:#F8F8F8;
	font-family: copperplate;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 50px;
	font-size: 72px;

}

.header {
	text-align: center;
	font-family: Arial;
	background-color: #FAF0E6;
	min-width: 100%;
	color: #FFFACD;

}

.header ul li {
	list-style-type: none;
	display: inline;
	text-align: left;
	font-size: 20px;
	padding: 30px;


}/*

.sidebar {
	clear: both;
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	height: 1000px;
	float: left;
	background-color: #FAF0E6;
}

.right_sidebar {
	
	display: inline;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 55px;
	height: 1000px;
	float: right;
	background-color: #FAF0E6;
	margin: 100px auto;
	padding-bottom: 55px;

}
.right_sidebar img {
	margin-bottom: 55px;
	padding-bottom: 55px;
}*/

body{
	background-color: #FFFACD;


;
}

header{
	
	font-size: 17px;
	padding-bottom: 20px;
}

/*a{
	color: white;
}*/

/*.main ul{
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	
	font-size: 17px;
}

.main li{
	list-style-type: none;
	margin: 0;
}
*/
h1 {
	text-align: center;
	margin-bottom: 20px;
}

.main {
	font-family: Futura, sans-serif;
	margin-bottom: 100px;
	background-color: #F8F8F8;
	

	 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
	
}


/*
.footer2 {
	clear: both;
	background-color: #FFCC99;
	font-family: Futura, sans-serif;
}

.footer2 nav ul li {
	clear: both;
	font-family: Futura, sans-serif;
	display: inline;
	font-size: 15px;
}
*/


.profile1 {
	background-color: white;
	padding: 100px;
	margin: 5px;
	float: left;
	margin-bottom: 80px;
		

}

.profile2 {
	background-image: url("IMG_1078.jpg");
	background-color: white;
	background-size: 100%;
	background-position: center;
	border-radius: 100px;
	background-repeat: no-repeat;
	padding: 100px;
	margin: 5px;
	margin-left: 200px;
	float: left;
	margin-bottom: 80px;

	
}

.profile3 {
	background-color: white;
	padding: 100px;
	margin: 5px;
	margin-left: 275px;
	margin-bottom: 80px;

	float: left;
	
}

.followers {
	clear: both;
	
	margin: 80px;
}



.javier1 img {
	width: 150px;
	border-style: solid;
	
	border-width: 3px;
	border-color: #D3D3D3;
	width: 100%;
	height: 100%;
	float: left;
	display: inline;
}

.javier2 img {
	width: 150px;
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	width: 100%;
	height: 100%;
	float: left;
	display: inline;
}

.javier3 img {
	width: 150px;
	clear: both;
	border-style: solid;
	border-width: 3px;

	margin-top: 5px;
	border-color: #D3D3D3;
	float: left;
	display: inline;
}


.javier4 img {
	width: 150px;
	border-style: solid;
	border-width: 3px;

	border-color: #D3D3D3;
	float: left;
	display: inline;
}


.javier5 img {
	width: 150px;
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
	display: inline;
}


.javier6 img {
	width: 150px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
	display: inline;

	
}




.mandy1 img {

	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
	display: inline;
}

.mandy2 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	display: inline;
	float: left;
}


.mandy3 img {
	border-style: solid;
	display: inline;
	border-width: 3px;
	border-color: #D3D3D3;
	
	float: left;
}

/*
.mandy4 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	display: inline;
	float: left;
	
}*/


.mandy4 img {
	border-style: solid;
	display: inline;
	border-width: 3px;
	border-color: #D3D3D3;
	
	float: left;
}


.mandy5 img {
	display: inline;
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;

}


.mandy6 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
	display: inline;
	
	
}




.jerome1 img {
	
	float: left;
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	display: inline;
}

.jerome2 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	display: inline;
	float: left;
}


.jerome3 img {
	border-style: solid;
	display: inline;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
}


.jerome4 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	display: inline;
	float: left;
}


.jerome5 img {	
	display: inline;
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
}


.jerome6 img {
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	float: left;
	display: inline;
}

.logos {
	opacity: .5;
	font-size: 72px;
    font-family: Papyrus;
    background-color: black;
    background-image: url("flan.jpg");
    padding-bottom: 200px;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 300px;


}


.col1 img{
	margin-top: 50px;

	margin: 5px;
	
	display: inline;
	width: 140px;
	height: 100px;
	background-color: white;
	 -webkit-column-width: 250px; /* Chrome, Safari, Opera */
    -moz-column-width: 250px; /* Firefox */
    column-width: 250px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;

}

.col2 img {
	margin-top: 50px;
	height: 100px;
	display: inline;
	margin: 5px;
	width: 140px;
	background-color: white;
	 -webkit-column-width: 250px; /* Chrome, Safari, Opera */
    -moz-column-width: 250px; /* Firefox */
    column-width: 250px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
	

}

.col3 img {
	margin-top: 50px;
	
	margin: 5px;
	display: inline;
	height: 100px;
	width: 140px;
	background-color: white;
	 -webkit-column-width: 250px; /* Chrome, Safari, Opera */
    -moz-column-width: 250px; /* Firefox */
    column-width: 250px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;

}



.logo1 {
	width: 200px;
	float: left;
	margin-left: 100px;
	padding: 100px;
}

.logo2 {
	clear: both;
	margin-right: 1000px;

	margin-left: 500px;
}

.logo3 {
	clear: both;
	float: left;
	margin-top: 100px;
	margin-left: 900px;
	margin-right: 300px;
}

a {
	color: grey;
	text-align: auto;

}